<meta charset="UTF-8">
<title>微博系统--我的首页</title>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.ui.js"></script>
<script type="text/javascript" src="__JS__/rl_exp.js"></script>
<script type="text/javascript" src="__JS__/index.js"></script>
<link rel="stylesheet" href="__CSS__/jquery.ui.css" />
<link rel="stylesheet" href="__CSS__/rl_exp.css" />
<link rel="stylesheet" href="__CSS__/index.css" />
<script type="text/javascript">
    var ThinkPHP={
        'MODULE' : '__MODULE__',
        'IMG' : '__PUBLIC__/{:MODULE_NAME}/img',
        'FACE' : '__PUBLIC__/{:MODULE_NAME}/face',
        'INDEX' : '{:U("Index/index")}',
    };
</script>