<extend name="Base/common" />

<block name="head">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="__JS__/jquery.Jcrop.js"></script>
    <script type="text/javascript" src="__JS__/setting.js"></script>
    <link rel="stylesheet" href="__UPLOADIFY__/uploadify.css">
    <link rel="stylesheet" href="__CSS__/setting.css">
    <link rel="stylesheet" href="__CSS__/jquery.Jcrop.css">

</block>

<block name="main">
    <div class="main_left">
        <ul>
            <li><a href="{:U('Setting/index')}">个人设置</a></li>
            <li><a href="{:U('Setting/avatar')}" class="selected">头像设置</a></li>
        </ul>
    </div>
    <div class="main_right">
        <h2>头像设置</h2>
        <p class="face_info">请上传一张头像图片，尺寸不低于200px*200px</p>
        <div class="face">
            <img id="face" src="__IMG__/big.jpg"/>
            <span id="preview_box" class="crop_preview"><img id="crop_preview" src="__IMG__/big.jpg"></span>
            <a href="javascript:void (0)" class="save" style="display: none;margin: 10px 0 0 0;">保存</a>
            <a href="javascript:void (0)" class="cancel" style="display: none;margin: 10px 0 0 0;">取消</a>
            <input type="file" name="file" id="file">
        </div>
    </div>
</block>