@charset "UTF-8";

#main .main_left{
    float: left;
    width: 650px;
    padding: 0 20px;
    min-height: 800px;
}
#main .main_left .left{
    float: left;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 0 0 0;
}
#main .main_left .right{
    float: right;
    color: #cccccc;
    font-size: 13px;
    padding: 30px 0 0 0;
}
#main .main_left .right strong{
    font-size: 22px;
    color: #049;
    font-family:  Constantia, Georgia;
    position: relative;
    top: -1px;
    padding: 0 5px;
}
#main .main_left .right strong.red{
    color: red;
}
#main .main_left .weibo_text{
    width: 632px;
    height: 80px;
    background: #FFFFFF;
    resize: none;
    padding: 9px;
    color: #666;
    font-size: 16px;
    box-shadow: 1px 1px 3px #dcdcdc inset;
}
#main .main_left .weibo_button{
    font-size: 14px;
    width: 90px;
    float: right;
    margin: 5px 0 0 0;
}
#main .weibo_content{
    clear: both;
}
#main .weibo_content ul{
    height: 32px;
    border-bottom: 1px solid #cccccc;
    margin: 0 0 5px 0;
}
#main .weibo_content ul li{
    width: 100px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    margin: 0 6px 0 0;
    float: left;
}
#main .weibo_content ul li a{
    display: block;
    height: 32px;
    line-height: 32px;
    color: #666;
    background: #EEEEEE;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
#main .weibo_content ul li a.selected{
    background: none;
    border: 1px solid #cccccc;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
    top: -1px;
    font-weight: bold;
}
#main .weibo_content ul li a.selected i.nav_arrow{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url("../img/nav_arrow.png")no-repeat right 3px;
}
#main .weibo_content_data{
    width: 650px;
    float: left;
    padding: 10px 0;
}
#main .weibo_content_data dt{
    width: 65px;
    float: left;
}
#main .weibo_content_data dt img{
    border: none;
}
#main .weibo_content_data dd{
    width: 585px;
    float: right;
}
#main .weibo_content_data dd h4{
    padding: 0 0 0 3px;
}
#main .weibo_content_data dd h4 a{
    color: #049;
    font-size: 14px;
    text-decoration: none;
}
#main .weibo_content_data dd p{
    color: #555;
    font-size: 14px;
    line-height: 150%;
}
#main .weibo_content_data dd .img img{
    display: block;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    margin: 10px 0 0 0;
}
#main .weibo_content_data dd .imgs{
    width: 120px;
    height: 120px;
    float: left;
    border: 1px solid #EEEEEE;
    margin: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
}
#main .weibo_content_data dd .imgs img{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
#main .weibo_content_data dd .img_zoom{
    background: #fafafa;
    border: 1px solid #EEEEEE;
    margin: 10px 0 0 0;
    border-radius:4px;
}
#main .weibo_content_data dd .img_zoom img{
    display: block;
    margin: 0 auto 20px auto;
    cursor: pointer;
}
#main .weibo_content_data dd .img_zoom ol{
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 0 0 0 20px;
}
#main .weibo_content_data dd .img_zoom ol li{
    float: left;
    margin: 0 10px 0 0;
}
#main .weibo_content_data dd .img_zoom ol li a{
    color: #5e7c85;
    text-decoration: none;
}
#main .weibo_content_data dd .img_zoom ol li.in{
    background: url("../img/img_zoom_in.png")no-repeat left center;
    padding: 0 0 0 12px;
}
#main .weibo_content_data dd .img_zoom ol li.source{
    background: url("../img/img_zoom_source.png")no-repeat left center;
    padding: 0 0 0 18px;
}
#main .weibo_content_data dd .footer{
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    color: #5e7c85;
    border-bottom: 1px solid #EEEEEE;
    clear: both;
}
#main .weibo_content_data dd .footer .time{
    float: left;
}
#main .weibo_content_data dd .footer .handler{
    float: right;
}
#main .weibo_content_data dd .footer a{
    text-decoration: none;
    color: #5e7c85;
}
#main .weibo_content_data dd .footer .re_com_box{
    width: 584px;
    border: 1px solid #cccccc;
    background: #fafafa;
    border-radius:4px;
    float: right;
}
#main .weibo_content_data dd .footer .re_com_box p{
    text-align: right;
    color: #5e7c85;
    font-size: 12px;
    padding: 10px 23px 0 0;
}
#main .weibo_content_data dd .footer .re_com_box .re_com_text{
    width: 520px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px 3px #dcdcdc inset;
    resize: none;
    padding: 8px;
    color: #666;
    margin: 5px 25px 0 25px;
}
#main .weibo_content_data dd .footer .re_com_box .re_button{
    width: 70px;
    float: right;
    margin: 0 20px 10px 0;
}
#main .weibo_content_data dd .footer .re_com_box .com_button{
    width: 70px;
    float: right;
    margin: 0 20px 10px 0;
}
#main .main_left .weibo_face{
    float: left;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    outline: none;
    background: url("../img/weibo_face.png")no-repeat left 3px;
    text-indent: 16px;
    margin: 5px 0 0 0;
    position: relative;
}
#main .main_left .weibo_face:hover{
    text-decoration: underline;
}
#main .main_left .weibo_pic{
    float: left;
    font-size: 13px;
    color: #666;
    text-decoration: none;
    outline: none;
    background: url("../img/weibo_pic.png")no-repeat left 3px;
    text-indent: 17px;
    margin: 5px 0 0 12px;
    position: relative;
}
#main .main_left .weibo_face:hover{
    text-decoration: underline;
}
#main .main_left .weibo_pic_box{
    margin:0 auto;
    position:absolute;
    min-width: 350px;
    max-width:460px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 5px #ccc,1px 1px 0 rgba(127,127,127,0.1);
    overflow: hidden;
    background: none repeat scroll 0 0 white;
    zoom:1;
    z-index:98;
}
#main .main_left .weibo_pic_header{
    height: 30px;
    line-height: 30px;
    color: #666666;
    font-size: 13px;
    background: #fafafa;
    text-indent: 10px;
}
#main .main_left .weibo_pic_info{
    float: left;
}
#main .main_left .weibo_pic_header .close{
    float: right;
}
#main .main_left .weibo_pic_list{
    padding: 15px 10px 10px 10px;
}
#main .main_left .weibo_pic_content{
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #EEEEEE;
    margin: -5px 4px 15px 4px;
    overflow: hidden;
    position: relative;
}
#main .main_left .weibo_pic_content .remove{
    display: none;
    width: 100px;
    height: 25px;
    background: #000;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 2;
    opacity: 0.7;
    filter:alpha(opacity=70);
    cursor: pointer;
}
#main .main_left .weibo_pic_content .text{
    display: none;
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 13px;
}
#main .main_left img.weibo_pic_img{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}
#main .main_left .weibo_pic_box #file{
    clear: both;
    margin: 0 auto;
    position: relative;
    top: -5px;
}
#main .main_left .face_arrow_top{
    width: 19px;
    height: 12px;
    display: none;
    background: url("../img/arrow_top.png")no-repeat;
    position: absolute;
    top: 15px;
    left: 13px;
    z-index: 101;
}
#main .main_left .pic_arrow_top{
    width: 19px;
    height: 12px;
    display: none;
    background: url("../img/arrow_top.png")no-repeat;
    position: absolute;
    top: 15px;
    left: 13px;
    z-index: 99;
}
#main .weibo_content_data dd .re_content{
    margin: 10px 0 0 0;
    border: 1px solid #cccccc;
    background: #fafafa;
    border-radius: 4px;
    padding: 10px;
}
#main .weibo_content_data dd .re_content p{
    margin: 5px 0 0 0;
}
#main .weibo_content_data dd a{
    color: #049;
    text-decoration: none;
}
#main .weibo_content_data .comment_content{
    border-top: 1px solid #EEEEEE;
    width: 100%;
    padding: 0 0 10px 0;
    float: left;
}
#main .weibo_content_data .comment_content ol{
    padding: 5px 15px 0 15px;
}
#main .weibo_content_data .comment_content ol li{
    line-height: 200%;
}
#main .weibo_content_data .comment_content ol li.line{
    border-bottom: 1px solid #EEEEEE;
    color: #999;
}
#main .weibo_content_data .comment_content ol li.a{
    color: #049;
}
#main .main_right{
    float: right;
    width: 269px;
    border-left: 1px solid #dddddd;
    background: #f7f7f7;
    min-height: 800px;
}
#imgs img{
    display : block;
    margin: 10px auto;
    cursor: pointer;
}
#imgs ol{
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 0 0 0 20px;
}
#imgs ol li{
    float: left;
    margin: 0 10px 0 0;
}
#imgs ol li a{
    color: #5e7c85;
    text-decoration: none;
}
#imgs ol li.in{
    background: url("../img/img_zoom_in.png")no-repeat left center;
    padding: 0 0 0 12px;
}
#imgs ol li.source{
    background: url("../img/img_zoom_source.png")no-repeat left center;
    padding: 0 0 0 18px;
}
.imgs_close{
    position: fixed;
    cursor: pointer;
    display: block;
}
.page {
    text-align: right;
    padding: 0 15px 0 0;
}
.page a {
    margin: 0 0 0 5px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #EEEEEE;
}
.page a:hover,.page a.select{
    color: #FFFFFF;!important;
    background: #333;
}
#scrollUp{
    bottom: 20px;
    right: 20px;
    padding: 0 20px;
    height: 38px;
    width: 38px;
    background: url("../img/top.png")no-repeat;
}
#loadmore{
    color: #666;
    text-align: center;
    font-size: 13px;
    padding: 0 0 20px 0;
}
#loadmore img{
    position: relative;
    top: 1px;
}
#main .main_right .face{
    display: block;
    width: 120px;
    height: 120px;
    margin: 30px auto 10px auto;
}
#main .main_right .user{
    display: block;
    text-align: center;
    font-size: 13px;
}
#main .main_right .user a{
    text-decoration: none;
    color: #049;
    font-weight: bold;
}
