@charset "UTF-8";
/*
自定义jQuery UI 皮肤
*/
.ui-dialog{
    padding: 0 !important;
    border:1px solid #666666 !important;
    border-radius:0 !important;
    overflow: visible;
}
.ui-dialog-titlebar{
    padding: 0 !important;
    height: 37px !important;
    background: url("../img/ui_header_bg.png") !important;
    border: 1px solid #FFFFFF !important;
    border-bottom: none !important;
    border-radius:0 !important;
}
.ui-dialog-title{
    color: #FFFFFF !important;
    height: 37px !important;
    line-height: 35px !important;
    font-size: 14px !important;
    text-indent: 10px !important;
}
.ui-dialog-content{
    width: 100% !important;
}
.ui-dialog-buttonset button{
    background: url("../img/button.png") !important;
    border: none !important;
    color: #fff !important;
    height: 35px !important;
}
.ui-dialog-buttonset button:hover{
    background: url("../img/button_hover.png") !important;
}
.ui-menu-item{
    width: 100% !important;
    padding: 0 !important;
}
.ui-menu-item a{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    color: #666;
    display: inline-block;
}
.ui-menu-item a.ui-state-focus{
    color: #036!important;
    background: url("../img/menu_bg.png")!important;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ccc;
}
#header{
    width: 198px;
    height: 60px;
    background: url("../img/logo.png")no-repeat;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
#main{
    text-align: center;
    position: relative;
    top: 200px;
}
#login input[type="text"],#login input[type="password"]{
    width: 250px;
    height: 25px;
    line-height: 25px;
    background: #000;
    border: 1px solid #d2d2d2;
    color: #FFFFFF;
    font-size: 18px;
    font-style: Tahoma;
    padding: 12px;
    border-radius: 3px;
    margin-right: 10px;
}
#login input[type="submit"]{
    width: 150px;
    height: 50px;
    font-size: 24px;
    font-family: 黑体;
    background: url(../img/login_button.png);
    color: #FFFFFF;
    border: none;
}
#login input[type="submit"]:hover{
    background: url("../img/login_button_hover.png");
}
#login .bottom{
    width: 380px;
    margin: 0 auto;
    text-align: right;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
}
#login .bottom a{
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
#login .bottom a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#login span.username,#login span.password{
    display: inline-block;
    width: 290px;
    position: relative;
}
#login span.username label.error,#login span.password label.error{
    color: #f60;
    position: absolute;
    top: 17px;
    right: 20px;
}
#footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    background: #000;
    color: #EEEEEE;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}
.footer_text{
    width: 100%;
    text-align: center;
    color: #EEEEEE;
    font-size: 13px;
    position: absolute;
    bottom:0;
}
#register{
    padding: 0 0 0 20px;
    position: relative;
    top: 15px;
}
#register input.text{
    width: 270px;
    height: 25px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #FFFFFF;
}
 span.star{
    color: red;
}
 span.succ{
    width: 28px;
    display: inline-block;
    background: url("../img/success.gif")no-repeat;
}
 span.loading{
    width: 28px;
    display: inline-block;
    background: url("../img/loading_form.gif")no-repeat;
}
#register ol.register_errors,#verify_register ol.ver_error{
    margin: 0;
    padding: 0 0 0 20px;
    color: red;
    font-size: 14px;
}
#register ol.register_errors li,#verify_register ol.ver_error li{
    height: 20px;
}
#loading{
    background: url("../img/loading.gif")no-repeat 20px center;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    line-height: 25px;
    text-indent: 40px;
}
#verify_register{
    padding: 0 0 0 20px;
    position: relative;
    top: 15px;
}
#verify_register input.text{
    width: 85px;
    height: 25px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #FFFFFF;
}
#verify_register a{
    color: #036;
    font-size: 16px;
    text-decoration: none;
}
#verify_register a:hover{
    text-decoration: underline;
}
#verify_register .verifyimg{
    cursor: pointer;
}