@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #666;
}
#header{
    width: 198px;
    height: 60px;
    background: url("../img/logo.png")no-repeat;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
#main{
    text-align: center;
    position: relative;
    top: 200px;
}
#login input[type="text"],#login input[type="password"]{
    width: 250px;
    height: 25px;
    line-height: 25px;
    background: #000;
    border: 1px solid #d2d2d2;
    color: #FFFFFF;
    font-size: 18px;
    font-style: Tahoma;
    padding: 12px;
    border-radius: 3px;
    margin-right: 10px;
}
#login input[type="submit"]{
    width: 150px;
    height: 50px;
    font-size: 24px;
    font-family: 黑体;
    background: url(../img/login_button.png);
    color: #FFFFFF;
    border: none;
}
#login input[type="submit"]:hover{
    background: url("../img/login_button_hover.png");
}
#login .bottom{
    width: 380px;
    margin: 0 auto;
    text-align: right;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
}
#login .bottom a{
    color: #EEEEEE;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
#login .bottom a:hover{
    text-decoration: underline;
    cursor: pointer;
}
#footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    background: #000;
    color: #EEEEEE;
    position: absolute;
    bottom: 0;
    opacity: 0.4;
}
.footer_text{
    width: 100%;
    text-align: center;
    color: #EEEEEE;
    font-size: 13px;
    position: absolute;
    bottom:0;
}